/*browser reset*/
*{margin: 0;
 padding: 0;}

/* drop-down */
.menu-container {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 4em;
    font-family: 'Roboto Mono', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}
.menu a:hover {
        color:palevioletred;
}
.menu ul {
    display: flex;
    list-style: none;  
}
.menu ul li {
    width: 100%;
}
.dropdown {
    display: flex;
    flex-direction: column;
} 
.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: flex;
    flex-direction: column;
}


/*Logo*/
.logo img{width: 15%;
margin: 0 42.5%;}

/*Forside*/
.forside img{width: 100%;}

/*Footer*/
.footer{text-align: center;
font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;}

.instagram,
.linkedin,
.facebook {
    align-items: center;
    justify-content: center}